# gitignore general para Gestores en México
# plugins Sublime
.phpintel/

# Composer y vendor de PHP
composer.lock
vendor/

# temporales
tmp/

# Migraciones
#migration/

#config
config/config.php
composer.phar

# storage
/assets/storage/

#sublime
*.sublime-project
*.sublime-workspace